npm config set init.author.name "John Doe"
npm config set init.author.email "john@doe.com"
npm config set init.author.url "http://github.com/johndoe"
npm config set init.license "MIT"
npm config set init.version "0.0.1"
npm config set loglevel="http"
